@import '../../app/theme.scss';

.container {
    margin: 5% auto;
    // width: 35%;
    width: 40rem;

    @media (max-width: 750px) {
        width: 90%;
        max-width: 40rem;
    }

    .buttonAdd {
        margin-top: 5%;
        border-radius: 8px;
        background: $button-blue;
        border: none;
        width: 100%;
        height: 3.9rem;
        color: white;
        font-weight: normal;
        font-size: 1.6rem;
    }
}

.buttonClassBlue {
    background: $button-blue;
}

.buttonClassRed {
    background: $button-red;
}

.tasks {
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 5%;
    gap: 1.013rem;

    h3 {
        opacity: 0.54;
        font-weight: normal;
        font-size: 1.1rem;
    }
}

.labelClassName {
    opacity: 0.54;
}


.backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);

    z-index: 10;

}

.popupOpen {
    filter: blur(2px);
}