@import '../../app/theme.scss';

.container {
    margin: 5% auto;
    width: 35%;

    .buttonAdd {
        margin-top: 5vh;
        border-radius: 8px;
        background: $button-blue;
        border: none;
        width: 100%;
        height: 6vh;
        color: white;
        font-weight: normal;
        font-size: 1.5vw;
    }
}

.buttonClassBlue {
    background: $button-blue;
}

.buttonClassRed {
    background: $button-red;
}

.tasks {
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 5%;
    gap: 1.5vh;

    h3 {
        opacity: 0.54;
        font-weight: normal;
    }
}

.labelClassName {
    opacity: 0.54;
}
