@import "../../app/theme.scss";

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px dashed $color-primary;
    width: 95%;
    height: 4.05em;
    border-radius: 8px;
    font-size: 1.2rem;

    input {
        background: white;
        margin-left: 1.2rem;
    }

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        /* Suporte para navegadores webkit */
        width: 1.8rem;
        height: 1.8rem;
        border: 2px solid $color-primary;
        border-radius: 4px;
        background-color: white;
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    /* Estilo para quando o checkbox estiver marcado */
    input[type="checkbox"]:checked {
        background-color: $color-fourth;
        border-color: $color-fifth;
    }

     /* Estilo para adicionar o "check" visual */
     input[type="checkbox"]:checked::after {
        content: "";
        position: absolute;
        top: 40%;
        left: 50%;
        width: 25%;
        height: 50%;
        border: solid $color-fifth;
        border-width: 0 2px 2px 0;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .task {
        margin-left: 1.2rem;
        cursor: pointer;
    }

    .button {
        margin-left: auto;
        margin-right: 1.2rem;
        cursor: pointer;

        .iconTrash {
            width: 1.8rem;
            height: 1.8rem;
            color: #B0BBD1;
        }
    }

}

.container:hover {
    background: #F7F9FD;
    border: 1px none $color-primary;
}