@import "../../app/theme.scss"; 

.popupForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
    margin: 5%;

    .buttons {
        display: flex;
        flex-direction: row;

       
    }
}
