
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1% 5%;
    font-size: 0.8vw;
    border-bottom: 1px solid #D7DDE9;
}

.header h2 {
    opacity: 0.54;
}

.logo {
    width: 10%;
}