@import "../../app/theme.scss";

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1% 5%;
    font-size: 0.6em;
    border-bottom: 1px solid $color-primary;
    padding: 1.5rem 0;

    .logo {
        width: 8rem;
        height: 100%;
    }

    @media (max-width: 750px) {
        .header {
            margin: 0;
        }
    }
}

.header h2 {
    opacity: 0.54;
}